h1{
    flex-basis: 40%;
    flex-grow: 4;
    margin: 5% 0 5% 3%;
}
html, body, div, h1, h2, h3, h4, h5, p, a, address, big, em, img, strong, ol, ul, li, article, aside, figure,
footer, header, section{
font: revert;
}
body > header{
    display: flex;
    height: 200px;
    background-color: white;
    padding: 20px;
    width: 1200px;
    margin: 0 auto;

}
figure{
    flex-basis: 40%;
    flex-grow: 1;
    background-image: url(/img/unnamed.jpg);
    width: 100%; 
    height: 200px; 
    margin: 0; 

}
main{
    display: flex;
    height: 100%;
    background-color: #f7f7f7d9;
    width: 1240px;
    margin: 0 auto;
}
section{
    display: flex;
    flex-direction: column;
}
aside{
    display: flex;
    flex-direction: column;
    background-color: #0d1b63cf;
    width: 600px;
}

article> header> h2, address> h2{
    padding: 20px;
    margin: 0 auto;
    text-align: center;      
}
article> p, article> ul> li, .workExp, address> p{
    padding: 0px 20px;       
}

footer{
    background-color: white;
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.paddingText{
    display: flex;
    justify-content: space-evenly;
}
.paddingText1, .paddingText2{
display: flex;
flex-direction: column;

}
#paddingText{
    line-height: 2;
}
body> header> figure> img{
display:flex;
align-items: center;
justify-content: center;
margin-left: 40px;
}
.round{
border-radius: 100px;
box-shadow: 0 0 7px #666;
}
body{
background-color: black;
line-height: 1.2;
}
ol, ul{
    list-style: inside;
}
footer> p{
    text-align: center;
}
article> div{
    width: fit-content;
    margin: auto;
}
div> ul> li{
    background-color: lavender;
    margin: 6px 0px;
}
pre{
    background-color: #c3c3c3;
    padding: 10px;
}
aside> h2{
    padding: 20px;
    text-align: center;
}
section> h5{
    padding: 10px 0px 0px 10px;
}
.line { 
    border-left: 2px solid #4d50c3; 
    margin-left: 20px;
    padding-left: 10px; 
   }

   #myDIV {
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {text-shadow: 10px 20px 30px blue;}
}

/* Standard syntax */
@keyframes mymove {
    50% {text-shadow: 10px 20px 30px blue;}
}