            $color-primary: #F1CDB3;
            $color-primary-light: #FDDCC4;
            $color-light-s: #FAFAFA;
            $color-light-l: #F6F6F6;
            $color-light-xl: #FFFFFF;
            $color-dark-s: #CDCDCD;
            $color-dark-m: #B2B2B2;
            $color-dark-l: #545454;
            $color-dark-xl: #4C4C4C;
            $color-dark-2xl: #444444;
            $color-dark-3xl: #292929;
            $start-screen-gradient-background: url(../../assets/images/noise_transparent@2X.png),
            radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
            #211F20;
            $footer-gradient-background: url(../../assets/images/noise_transparent@2X.png),
            radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
            #211F20;
            $card-hover: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
            @mixin h2 {
                font: {
                    family: Georgia;
                    size: 4.4rem;
                    weight: 400;
                    color: $color-light-xl;
                }
                line-height: 130%;
            }
            
            @mixin h3 {
                font: {
                    family: Georgia;
                    style: normal;
                    weight: normal;
                    size: 3.5rem;
                }
                line-height: 130%;
                letter-spacing: 0.21rem;
            }
            
            @mixin h4 {
                font: {
                    family: Georgia;
                    style: normal;
                    weight: normal;
                    size: 2rem;
                }
                line-height: 115%;
                letter-spacing: 0.12rem;
            }
            
            @mixin h5 {
                font: {
                    family: Georgia;
                    style: normal;
                    weight: normal;
                    size: 1.5rem;
                }
                line-height: 110%;
                letter-spacing: 0.09rem;
            }
            
            @mixin paragraph-l {
                font: {
                    family: Arial;
                    style: normal;
                    weight: normal;
                    size: 1.5rem;
                }
                line-height: 160%;
            }
            
            @mixin paragraph-s {
                font: {
                    family: Arial;
                    style: italic;
                    weight: normal;
                    size: 1.2rem;
                }
                line-height: 150%;
            }
            
            @mixin paragraph-mobile-menu {
                font: {
                    family: Arial;
                    style: normal;
                    weight: normal;
                    size: 3.2rem;
                }
                line-height: 160%;
                margin: 0px 10px;
            }
            
            @mixin logo_title {
                font: {
                    family: Georgia;
                    style: normal;
                    weight: normal;
                    size: 3.2rem;
                }
                line-height: 110%;
                letter-spacing: 0.192rem;
            }
            
            @mixin logo_subtitle {
                font: {
                    family: Arial;
                    style: normal;
                    weight: normal;
                    size: 1.3rem;
                }
                line-height: 110%;
                letter-spacing: 0.1rem;
            }
            
            @mixin slider-button {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 5.2rem;
                max-height: 5.2rem;
                box-shadow: inset 0 0 0 0.3rem $color-primary;
                border-radius: 100%;
                padding: 2.7rem;
                cursor: pointer;
                background: none;
                border: none;
                outline: none;
                transition-duration: 0.5s;
                &:hover {
                    box-shadow: none;
                    background-color: $color-primary-light;
                }
            }
            
            @mixin button() {
                padding: 1.5rem 4.5rem;
                font-size: 1.6rem;
                border-radius: 10rem;
                line-height: 130%;
                letter-spacing: 0.144rem;
                cursor: pointer;
                outline: none;
                border: none;
                font-family: Georgia;
                transition-duration: 0.5s;
            }
            
            @mixin button_primary() {
                background-color: $color-primary;
                &:hover {
                    background-color: $color-primary-light;
                }
                @include button;
            }
            
            @mixin button_secondary() {
                background-color: transparent;
                box-shadow: inset 0 0 0 2px $color-primary;
                &:hover {
                    box-shadow: none;
                    background-color: $color-primary-light;
                }
                @include button;
            }
            
            @mixin common__wrapper {
                max-width: 128rem;
                display: flex;
                margin: 0 auto;
                padding: 10rem 0 10rem 0;
            }
            
             :root {
                font-size: 10px;
            }
            
            * {
                margin: 0;
                padding: 0;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -moz-box-sizing: border-box;
            }
            
            a {
                text-decoration: none;
            }
            
            .wrapper {
                /*max-width: 120rem;*/
                width: 120rem;
                display: flex;
                margin: 0 auto;
                /*flex: 1;*/
                justify-content: space-between;
            }
            
            .header {
                /*width: 100vw;*/
                /*max-width: 100%;*/
                width: 100%;
                position: absolute;
                top: 6.08rem;
            }
            
            .menu {
                width: 45.62rem;
                display: flex;
            }
            
            .logo {
                display: flex;
                flex-direction: column;
                &__title {
                    color: $color-primary;
                    @include logo_title;
                    letter-spacing: 0.192rem;
                }
                &__subtitle {
                    margin-top: 1rem;
                    color: $color-light-xl;
                    /*text-align: center;*/
                    @include logo_subtitle;
                    letter-spacing: 0.13rem;
                }
            }
            
            .list {
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                width: 100%;
                margin-bottom: 0.5rem;
                .list__item {
                    display: flex;
                    align-items: center;
                    .list__link {
                        color: $color-light-l;
                        font-family: Arial;
                        font-size: 1.5rem;
                        line-height: 160%;
                        &:active {
                            border-bottom: solid 0.225rem $color-primary;
                            color: $color-light-s;
                        }
                        &:hover {
                            color: $color-light-s;
                        }
                        &:link {
                            color: $color-light-l;
                        }
                    }
                }
            }
            
            .main {
                display: flex;
                flex-direction: column;
                width: 128rem;
                margin: 0 auto;
            }
            
            .hero {
                /*width: 128rem;
        margin: 0 auto;*/
                display: flex;
                padding-top: 18.08rem;
                background: $start-screen-gradient-background;
                &__content {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    /*align-items: center;*/
                }
                &__image-wrapper {
                    display: flex;
                }
                &__image {
                    width: 100%;
                    max-width: 69.8rem;
                    max-height: 72.8rem;
                }
            }
            
            .content-section {
                padding-bottom: 8.2rem;
                max-width: 46.8rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                &__title {
                    color: $color-light-xl;
                    max-width: 31rem;
                    @include h2;
                }
                &__subtitle {
                    font-family: Arial;
                    margin-top: 4.2rem;
                    font-size: 1.5rem;
                    color: $color-dark-s;
                    line-height: 160%;
                    font-weight: 400;
                }
                &__button {
                    margin-top: 4.1rem;
                    @include button_primary();
                }
            }
            
            .about {
                display: flex;
                &__wrapper {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    padding: 8rem 17.5rem 0 17.5rem;
                    flex-flow: row wrap;
                }
                & .wrapper {
                    justify-content: center;
                }
                &__image-wrapper {
                    display: flex;
                }
                &__image {
                    width: 100%;
                }
                &__content {
                    display: flex;
                    flex-direction: column;
                    max-width: 43rem;
                    justify-content: center;
                }
                &__title {
                    span {
                        display: block;
                    }
                    color: $color-dark-l;
                    @include h3;
                }
                &__description {
                    margin-top: 2.5rem;
                    p {
                        /*&:nth-child(2)*/
                        &+p {
                            margin-top: 2.5rem;
                        }
                        color: $color-dark-xl;
                        @include paragraph-l;
                    }
                }
            }
            
            .pets {
                padding-top: 10rem;
                .common__wrapper {
                    background-color: $color-light-l;
                    @include common__wrapper();
                    padding: 8rem 0 10rem 0;
                }
                &__wrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                &__title {
                    max-width: 40rem;
                    text-align: center;
                    color: $color-dark-l;
                    @include h3;
                    span {
                        display: block;
                    }
                }
                &__content {
                    display: flex;
                    align-items: center;
                    .pets-cards {
                        display: flex;
                        padding: 6rem 0.8rem 6.3rem 0.8rem;
                    }
                    .pets-card {
                        display: flex;
                        flex-direction: column;
                        border-radius: 0.9rem;
                        margin: 0 4.5rem;
                        &:hover {
                            box-shadow: $card-hover;
                        }
                        &__image {
                            width: 100%;
                        }
                        &__content {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding-bottom: 3rem;
                        }
                        &__title {
                            margin: 3rem 0;
                            text-align: center;
                            @include h4;
                        }
                        &__button {
                            @include button_secondary;
                        }
                    }
                    .slider-button {
                        @include slider-button;
                    }
                    .slider-button_reverted {
                        transform: rotate(180deg);
                        @include slider-button;
                    }
                }
                &__button {
                    @include button_primary();
                }
            }
            
            .help {
                .common__wrapper {
                    background-color: $color-light-xl;
                    @include common__wrapper();
                    padding: 8rem 0 0 0;
                }
                &__wrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                &__title {
                    max-width: 40rem;
                    text-align: center;
                    color: $color-dark-l;
                    @include h3;
                    span {
                        display: block;
                    }
                }
                .help-icons {
                    display: flex;
                    justify-content: space-between;
                    /**/
                    flex-direction: column;
                    /**/
                    width: 102.6rem;
                    /**/
                    /*align-items: center;*/
                    /**/
                    max-width: 102.6rem;
                    flex-flow: row wrap;
                    /*!!!!*/
                    padding: 6rem 0 4.2rem 0;
                    &__block1 {
                        display: flex;
                        justify-content: space-between;
                        width: 102.6rem;
                    }
                    &__block2 {
                        display: flex;
                        justify-content: space-between;
                        width: 85.8rem;
                    }
                    &__common {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 5.5rem;
                        justify-content: center;
                        flex: 1 1 20rem;
                        /*!!!!*/
                        cursor: pointer;
                    }
                    &__pictures {
                        display: flex;
                        margin-bottom: 3rem;
                        height: 6rem;
                    }
                    &__title {
                        display: flex;
                        @include h4;
                        text-align: center;
                        align-items: center;
                    }
                }
            }
            
            .donation {
                .common__wrapper {
                    background-color: $color-light-l;
                    @include common__wrapper();
                    padding: 6.7rem 0 8rem 0;
                }
                &__wrapper {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    column-gap: 3rem;
                    justify-content: center;
                }
                .wrapper-image {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .wrapper-info {
                    max-width: 38rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-top: 1.8rem;
                    &__heading {
                        max-width: 38rem;
                        text-align: start;
                        color: $color-dark-l;
                        margin-bottom: 2rem;
                        @include h3;
                        span {
                            display: block;
                        }
                    }
                    &__subheading {
                        display: flex;
                        @include h5;
                        text-align: center;
                        align-items: center;
                        margin-bottom: 2rem;
                    }
                    &__credit-card {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: $color-primary;
                        border-radius: 0.9rem;
                        margin-bottom: 2rem;
                        max-width: 34.9rem;
                        &:hover {
                            cursor: pointer;
                            transition-duration: 0.5s;
                            background-color: $color-primary-light;
                        }
                    }
                    .credit-card__image {
                        display: flex;
                    }
                    .credit-card__img {
                        padding-left: 1.5rem;
                    }
                    .credit-card__phone {
                        display: flex;
                    }
                    .credit-card__phone-number {
                        padding: 1rem 1.5rem 1rem 0;
                        @include h4;
                        text-align: center;
                        align-items: center;
                        outline: none;
                        color: $color-dark-l;
                    }
                    &__legal-info {
                        display: flex;
                        @include paragraph-s;
                        align-items: center;
                        margin-bottom: 2rem;
                        color: $color-dark-m;
                    }
                }
            }
            
            .footer {
                //max-width: 128rem;
                //margin: 0 auto;
                display: flex;
                .common__wrapper {
                    justify-content: center;
                    /*background-color: $color-light-xl;*/
                    @include common__wrapper();
                    padding: 0 0;
                    background: $footer-gradient-background;
                    width: 128rem;
                }
                &__wrapper {
                    //padding-left: 4rem;
                    width: 93.75%;
                    display: flex;
                    //align-items: center;
                    //column-gap: 3rem;
                    justify-content: space-between;
                }
                .footer-contacts {
                    padding-top: 5.8rem;
                    &__title {
                        max-width: 38rem;
                        text-align: start;
                        color: $color-dark-l;
                        //padding-top: 4rem;
                        margin-bottom: 4.1rem;
                        color: $color-light-xl;
                        @include h3;
                        span {
                            display: block;
                        }
                    }
                }
                .footer-section {
                    display: flex;
                    //justify-content: space-between;
                    padding-bottom: 4.1rem;
                    align-items: center;
                    &__image {
                        margin-right: 2rem;
                    }
                    &__img {}
                    &__description {
                        //padding-right: 2.6rem;
                        @include h4;
                        //text-align: center;
                        align-items: center;
                        color: $color-dark-s;
                        span {
                            display: block;
                        }
                    }
                }
                .footer-location {
                    padding-top: 5.8rem;
                    margin-right: 0.5rem;
                    &__title {
                        max-width: 38rem;
                        text-align: start;
                        margin-bottom: 3.3rem;
                        color: $color-light-xl;
                        @include h3;
                        span {
                            display: block;
                        }
                    }
                    .footer-section {
                        padding-bottom: 3.3rem;
                    }
                }
                .footer-image {
                    &__dog {
                        margin-top: 4rem;
                    }
                }
            }
            
            @media screen and (max-width: 1280px) {
                .wrapper {
                    padding: 0 4rem;
                    /*flex-flow: row wrap;*/
                    width: 128rem;
                }
            }
            
            @media screen and (max-width: 1100px) {
                .hero__content {
                    //flex-direction: column;
                    justify-content: center;
                }
                .pets-cards {
                    flex-flow: row wrap;
                }
                .pets__content .pets-cards {
                    justify-content: center;
                }
                .help .help-icons {
                    display: flex;
                    flex-direction: row;
                    /*width: 36rem;*/
                    /*align-items: center;*/
                    /*max-width: 60rem;*/
                    flex-flow: row wrap;
                    padding: 6rem 0 4.2rem 0;
                    &__block1 {
                        display: flex;
                        width: 50rem;
                        flex-flow: row wrap;
                    }
                    &__block2 {
                        display: flex;
                        width: 40rem;
                        flex-flow: row wrap;
                    }
                }
                main .hero .wrapper {
                    margin-top: 2rem;
                }
                .footer__wrapper {
                    flex-flow: row wrap;
                    justify-content: space-around;
                }
            }
            
            @media screen and (max-width: 768px) {
                .wrapper,
                .main {
                    width: 76.8rem;
                }
                .hero__content {
                    flex-flow: row wrap;
                    justify-content: center;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                }
                .logo {
                    margin-bottom: 2rem;
                    width: 19.4rem;
                }
                .pets-cards {
                    flex-flow: row wrap;
                }
                .pets__content .pets-cards {
                    justify-content: center;
                }
                .help .help-icons {
                    display: flex;
                    flex-direction: row;
                    /*width: 36rem;*/
                    align-items: center;
                    /*max-width: 60rem;*/
                    /*min-width: 30rem;*/
                    flex-flow: row wrap;
                    padding: 6rem 0 4.2rem 0;
                    &__block1 {
                        display: flex;
                        width: 50rem;
                        flex-flow: row wrap;
                    }
                    &__block2 {
                        display: flex;
                        width: 40rem;
                        flex-flow: row wrap;
                    }
                }
                .donation__wrapper {
                    flex-flow: row wrap;
                }
                .footer__wrapper {
                    flex-flow: row wrap;
                    justify-content: space-around;
                }
                .about__wrapper {
                    flex-direction: column-reverse;
                    align-items: center;
                }
                .about__description {
                    margin-bottom: 8rem;
                }
                .donation__wrapper {
                    justify-content: center;
                    flex-direction: column;
                }
                .help .help-icons {
                    width: 63rem;
                }
                .help .help-icons__common {
                    flex: 0 0 20rem;
                }
            }
            
            // гамбургер-меню
            #menu__toggle {
                opacity: 0;
            }
            
            ul {
                display: flex;
                justify-content: space-between;
                width: inherit;
            }
            
            .logo__gamburger {
                display: none;
            }
            
            @media screen and (max-width: 375px) {
                .wrapper,
                .main {
                    width: 37.5rem;
                }
                .logo {
                    margin-bottom: 2rem;
                    width: 110rem;
                }
                .menu__btn {
                    display: flex;
                    /* используем flex для центрирования содержимого */
                    align-items: center;
                    /* центрируем содержимое кнопки */
                    position: fixed;
                    top: 5rem;
                    right: 5.3rem;
                    width: 3rem;
                    height: 2.2rem;
                    cursor: pointer;
                    z-index: 1;
                }
                /* добавляем "гамбургер" */
                .menu__btn>span,
                .menu__btn>span::before,
                .menu__btn>span::after {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 0.2rem;
                    background-color: $color-primary;
                }
                .menu__btn>span::before {
                    content: '';
                    top: -0.8rem;
                }
                .menu__btn>span::after {
                    content: '';
                    top: 0.8rem;
                }
                /* контейнер меню */
                .list {
                    display: block;
                    position: fixed;
                    visibility: hidden;
                    top: 0;
                    right: -100%;
                    width: 32rem;
                    height: 100%;
                    margin: 0;
                    padding: 3rem 0 0 1rem;
                    list-style: none;
                    /*text-align: center;*/
                    background-color: $color-dark-3xl;
                    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
                    transition: 0.5s;
                }
                /* элементы меню */
                .list__link {
                    display: block;
                    /*padding: 1.2rem 2.4rem;*/
                    color: #333;
                    font-family: 'Roboto', sans-serif;
                    font-size: 2rem;
                    font-weight: 600;
                    text-decoration: none;
                }
                .list__link:hover {
                    background-color: #CFD8DC;
                }
                #menu__toggle:checked~.menu__btn>span {
                    transform: rotate(90deg);
                }
                #menu__toggle:checked~.menu__btn>span::before {
                    top: -1rem;
                    transform: rotate(0);
                }
                #menu__toggle:checked~.menu__btn>span::after {
                    top: 1rem;
                    transform: rotate(0deg);
                }
                #menu__toggle:checked~.list {
                    visibility: visible;
                    right: 0;
                    transition: 0.5s;
                }
                .wrapper-image img,
                .about__image img {
                    width: 100vw;
                }
                .pets__content {
                    flex-direction: column;
                }
                .about__wrapper {
                    padding: 2rem 2rem;
                }
                .wrapper-info {
                    padding: 2rem 2rem;
                }
                .help .help-icons {
                    width: 26rem;
                }
                ul {
                    flex-direction: column;
                    align-items: center;
                    padding: 0 4.5rem 0 0;
                }
                .logo__gamburger {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 15.8rem;
                }
                .list {
                    .list__item {
                        margin-bottom: 4.3rem;
                        .list__link {
                            color: $color-dark-s;
                            @include paragraph-mobile-menu;
                            &:active {
                                border-bottom: solid 0.225rem $color-primary;
                                color: $color-light-s;
                            }
                            &:hover {
                                color: $color-light-s;
                            }
                            &:link {
                                color: $color-light-l;
                            }
                        }
                    }
                }
                .pets__content .pets-card {
                    margin: 0;
                }
                .help .help-icons__common {
                    flex: 0 0 10rem;
                }
            }
            
            @media screen and (max-width: 320px) {
                .wrapper,
                .main {
                    width: 32rem;
                }
                .logo {
                    margin-bottom: 2rem;
                    width: 200rem;
                }
                #disabled:active {
                    border: none;
                }
                #disabled:hover {
                    cursor: context-menu;
                }
            }